.hero {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-bottom: 70px;
  .content {
    h1 {
      font-size: 6rem;
      margin: 0;
      font-family: var(--font-palui);
      z-index: 100;
      position: relative; /* ОБЯЗАТЕЛЬНО */
      text-align: center;
    }

    span {
      font-size: 1.5rem;
      display: block;
      margin-bottom: 0;
    }
  }
  .back {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 46px;
    z-index: 1;
    background-color: #191919;
}
}