.new-collection {
  margin: 0 auto;
  color: white;
  width: 1160px;

  .content-wrapper {
    display: flex;
  }

  .left-content, .right-content {
    display: flex;
    flex-direction: column;
  }

  .collection h3,
  .merch h4 {
    font-size: 30px;
  }

  span {
    color: #F39200;
  }

  .view-all-button {
    width: 100%;
    height: 55px;
    background: #F39200;
    border: none;
    color: white;
    cursor: pointer;
  }
}