.card{
    display: flex;
    flex-direction: column;
    padding: 15px 20px 25px 20px;
    position: relative;
    background-color: white;
}
.product{
    max-width: 90%;
    aspect-ratio: 1/1;
}
.card-text{
    display: flex;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-family: var(--font-visby-semibold), sans-serif;
  font-weight: 600;

}
.cost-product{
    width: 20%;
}
.name-product{
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
a{
    text-decoration: none;
}

.cardbut{
     background-color: #3B71B7;
    color:#ffffff;
    text-wrap: nowrap;
    margin-top: 15px;
    padding: 15 29 15 29px;
    font-size: 16px;
    border: none;
    font-family: var(--font-palui), sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease-out;
}
.cardbut:hover{
    background-color: #3BC8FF;
}
