h2{
    margin-top: 200px;
}
.cardsc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 80px;
}
@media(max-width:1190){
    .cardsc{
        grid-template-columns: repeat(1, 1fr);
    }
    .catalog{
        width: 560px;
    }
}
@media(max-width:585px){
    .catalog{
        max-width: 330px;
    }
}