body{
    background-color: #191919;
}
.button_enter_swap_reg{
    width: 98px;
    height: 35px;
    background-color: #191919;
    color: #FBFBFB;
    outline: none;
    border: 1 solid white;
    cursor: pointer;
    font-family: var(--font-palui), sans-serif;
    font-weight: 700;
}
.buttont_reg_swap_reg{
    width: 230px;
    height: 35px;
    background-color: #3B71B7;
    color: #FBFBFB;
    margin-left: 10px;
    border: none;
        font-family: var(--font-palui), sans-serif;
    font-weight: 700;
}
.reg_form{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    margin-top: 80px;
}
.button_enter{
    width: 560px;
    height: 45px;
    background-color: #F39200;
    color: #FBFBFB;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    transition: all .3s;
    outline: none;
    border: none;
}
.button_enter:hover{
    background-color: #E94E1B;
}
.FIO{
    background-color: #191919;
    width: 560px;
    height: 32px;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid gray;
}
.EL_mail{
    background-color: #191919;
    width: 560px;
    height: 32px;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid gray;
    margin-top: 40px;
}
.Phone{
    background-color: #191919;
    width: 560px;
    height: 32px;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid gray;
    margin-top: 40px;
}
.Password{
    background-color: #191919;
    width: 560px;
    height: 32px;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid gray;
    margin-top: 40px;
}
.button_enter{
    width: 560px;
    height: 45px;
    background-color: #F39200;
    color: #FBFBFB;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    transition: all .3s;
    outline: none;
    border: none;
}
.button_enter:hover{
    background-color: #E94E1B;
}
.button_swap{
    width: 400px;
    height: 40px;
    margin: 0 auto;
    margin-top: 200px;
}
.Checkbox_reg{
    width: 560px;
    height: 48px;
    align-items: start;
    display: flex;
    color: #FBFBFB;
    margin-left: -0px;
    margin-top: 87px;
}
.checkbox_input{
    width: 70px;
    height: 70px;
    margin-right: 15px;
    color: lightslategray;
    border: 1px solid #FBFBFB;
    background-color: #191919;
    cursor: pointer;
}
.lable_box{
    color: gray;
    font-size: 16px;
}
.conf_text{
    width: 560px;
    height: 32px;
    font-size:  16px;
    color: gray;
    margin-top: 40px;
    margin-left: -0px;
}




